.card.produto {
  box-shadow: none !important;

  .content {
    position: relative;
    z-index: 4;
    border-top: 0px !important;

    .discount {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px;
      border-radius: 5px;
      background-color: #e3646b;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      z-index: 9;
    }

    .sku-options {
      position: absolute;
      top: 35%;
      left: 35%;
      z-index: 9;
      opacity: 0;

      &.mask {
        background: rgba(255, 255, 255, .5);
      }

      a[id^="btn-comprar-card"] {
        margin: 0 !important;
        padding: 0 !important;

        i[id^="btn-icon-card"] {
          width: 32px;
          height: 32px;
          border-radius: 5px;
          background-color: #d46da2 !important;
          opacity: 1;
        }
      }

      .produto-esgotado-label {
        color: $grey !important;

        &:not(.hideme) {
          display: block;
          font-weight: 600;
          margin-bottom: .5em;
        }
      }
    }

    .info {
      position: relative;
      height: auto;
      background-color: white;
      transition-duration: 0.3s;
      z-index: 4;

      a {
        text-align: center;
      }

      .dados {
        padding: 10px 0;

        a:focus {
          text-decoration: underline;
        }

        h3 {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eee;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          color: #474747;
        }

        .precoBase {
          color: #666666;
          font-size: 14px;

          i {
            text-decoration: line-through;
          }
        }

        .preco {
          font-size: 18px;
          font-weight: 900;
          line-height: 30px;
          color: #edaecb;

          &:after {
            content: '\A';
            white-space: pre;
          }
        }

        .parcelamento {
          color: #666666;
          font-size: 14px;
        }
      }

      .botoes {
        border-top: 0 !important;
        bottom: -40px;
        left: 0;
        opacity: 0;
        position: absolute;
        transition-duration: 0.3s;
        width: 100%;

        @media screen and (max-width: $tablet-bp-max) {
          bottom: initial;
          left: initial;
          opacity: 1;
          position: relative;
        }

        .btnComprar {
          @media screen and (min-width: $desktop-bp-min) {
            display: none;
          }
        }




        .btnDetalhes {
          background: #eee;
          color: #666;

          &:hover,
          &:focus,
          &:checked,
          &:active {
            background: #eee;
            color: #666;
            opacity: .9;
          }
        }

        button.ui.circular {
          @media screen and (max-width: $mobile-bp) {
            padding: .58571429em !important;
            margin-top: 3px;
          }
        }

        button.ui.basic.primary,
        button.ui.basic.secondary,
        button.ui.basic.action {
          @media screen and (max-width: $mobile-bp) {
            padding: .78571429em 0.8em !important;
          }
        }
      }
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;

    .content {
      .ui.slide.masked.reveal.image > .visible.content {
        transform: translateX(-100%) !important;
      }

      .ui.slide.masked.reveal.image > .hidden.content {
        transform: translateX(0) !important;
      }

      .sku-options,
      .ui.top.right.attached.label.massive.wishlist {
        opacity: 1;
      }
    }

    .info {
      .botoes {
        opacity: 1;
      }
    }
  }

  .wishlist {

    .bcg-heart {
      width: 32px;
      height: 32px;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;
      opacity: .9;
      z-index: 9;
    }

    i.icon.heart {
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #1ab5ab;
    }
  }
}

.ui.top.right.attached.label.massive.wishlist {
  top: 35%;
  right: 35%;
  padding: 0;
  background: transparent;
  opacity: 0;
}

.sku-options {

  .dropdown {

    .scrolling.menu {
      max-height: 7.8rem !important;
    }
  }
}

.ui.three.doubling.cards > .card,
.ui.four.doubling.cards > .card,
.ui.five.doubling.cards > .card,
.ui.six.doubling.cards > .card {
  @media screen and (max-width: $mobile-bp) {
    width: calc( 100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
  }
}
